# Ignore everything
/*

# But UN-ignore these specific files/folders
!admin.html
!api.js
!app.js
!index.html
!404.html
!login.html
!modules/
!news-detail.html
!history.html
!profile.html
!sidebar.html
!persona.txt
!reset.password.html
!style.css
!ui.js
!.github/
!.gitignore
!.nojekyll
!CNAME
