# Ignore everything
/*

# But UN-ignore these specific files/folders
!admin.html
!api.js
!app.js
!pwa.js
!sw.js
!index.html
!404.html
!login.html
!modules/
!news-detail.html
!history.html
!profile.html
!sidebar.html
!persona.txt
!reset.password.html
!style.css
!ui.js
!.github/
!.gitignore
!.nojekyll
!CNAME
!logo 2.jpg
!favicon.ico
!favicon.png
!apple-touch-icon.png
!icon-192.png
!icon-512.png
!logo-mark.png
!site.webmanifest
!public/
public/*
!public/server/
public/server/*
!public/server/server.js
!public/server/package.json
!public/server/package-lock.json
!public/server/blockchain.js
